body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    cursor: pointer;
    user-select: none;
    transition: ease-in-out .5s;
}

button:hover {
    background: rgba(220, 220, 220, .5);
}

p,
label {
    user-select: none;
}

input {
    margin-bottom: 1em;
}

form {
    border: solid .2em white;
    padding: 1em;
    border-radius: 1em;
}